
/* Mobile Viewpoint */

html {
	background: #999966;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	background: #4d4d33;
}

ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;

}


.heading {
	padding-bottom: 10px;
	padding-top: 5px;
}

img {
	display: block;
	margin: auto;
	width: 230px;
	height: 230px;
	border: 1px solid black;
	
}

img:hover {	
		box-shadow: 0 0 12px black;

} 

button {
	margin: 0 auto;
	display: block;

}

#thisDiv {	
	width: 100%;
	padding: 50px 0;
	text-align: center;

}







/* Media queries for bigger screen sizes */


@media only screen and (min-width: 1200px) {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
		
	}

	img {
		width: 350px;
		height: 350px;
	}

	
}

@media only screen and (min-width: 750px) and (max-width: 1199px) {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 1fr
		grid-row-gap: 15px;

	}

	img {
		width: 300px;
		height: 300px;
	}

	
}


