
/* Mobile Viewpoint */

html {
	background: lightgray;
}

h1 {
	width: 100%;
	height: 150px;
	background: url("https://images.unsplash.com/photo-1476990789491-712b869b91a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fa9fccccad158d1c8e24c6d4d4262fd1&auto=format&fit=crop&w=888&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	position: relative;
	z-index: 100;
}

ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;

}


.heading {
	padding-bottom: 10px;
	padding-top: 5px;
}

img {
	display: block;
	margin: auto;
	width: 230px;
	height: 230px;
	border: 1px solid black;
	
}

img:hover {	
		box-shadow: 0 0 12px black;

} 

button {
	margin: 0 auto;
	display: block;

}

#thisDiv {	
	width: 100%;
	padding: 50px 0;
	text-align: center;

}










/* Media queries for bigger screen sizes */


@media only screen and (min-width: 1200px) {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
		
	}

	img {
		width: 350px;
		height: 350px;
	}

	
}

@media only screen and (min-width: 750px) and (max-width: 1199px) {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 1fr
		grid-row-gap: 15px;

	}

	img {
		width: 300px;
		height: 300px;
	}

	
}


