html {
	background: gray;
}

h1 {
	color: black;
	text-align: center;
	font-family: 'Arizonia', cursive;
	font-size: 3em;
}

ul {
	list-style-type: none;
}



img {
	display: block;
	margin: auto;
	width: 350px;
	height: 300px;
	padding: 15px 5px;
	image-orientation: from-image;
	transform: rotate(90deg);
	margin-bottom: 40px;

	
}





@media only screen and (min-width: 1200px) {
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 15px;
	}

	
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 1fr
		grid-row-gap: 15px;
	}

	
}


